<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <!-- Style frameworeks -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.3/dist/sweetalert2.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <style>
    .swal2-content,
    .swal2-actions,
    .swal2-header {
      font-family: Arial, sans-serif;
    }
  </style>
</head>

<body class="">
  <div id="app">
    <v-app>
      <v-main class="blue-grey lighten-4">
        <v-card class="mx-auto mt-5 pb-2" max-width="900">

          <div class="d-flex justify-space-between align-center pa-5">
            <h1 class="">CRUD con Vue.js, Vuetify, PHP y MySql</h1>
            <v-btn class="" color="success" @click="formNuevo()">Crear</v-btn>
          </div>

          <v-simple-table class="">
            <template v-slot:default>
              <thead class="">
                <tr class="blue-grey darken-1">
                  <th scope="id" class="white--text text-center">ID</th>
                  <th scope="description" class="white--text text-center">DESCRIPCIÓN</th>
                  <th scope="price" class="white--text text-center">PRECIO</th>
                  <th scope="stock" class="white--text text-center">STOCK</th>
                  <th scope="actions" class="white--text text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="articulo in articulos" :key="articulo.id">
                  <td class="text-center">{{ articulo.id }}</td>
                  <td class="text-center">{{ articulo.descripcion }}</td>
                  <td class="text-center">{{ articulo.precio }}</td>
                  <td class="text-center">{{ articulo.stock }}</td>
                  <td class="text-center d-flex justify-space-around align-center">
                    <v-btn color="blue darken-1 white--text"
                      @click="formEditar(articulo.id, articulo.descripcion, articulo.precio, articulo.stock)">Editar
                    </v-btn>
                    <v-btn color="error" @click="eliminar(articulo.id)">Eliminar</v-btn>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>

          <v-dialog v-model="dialog" max-width="500">
            <v-card>
              <v-card-title class="blue-grey darken-1 white--text">Artículo</v-card-title>
              <v-card-text>
                <v-form>
                  <v-container>
                    <v-row>
                      <input v-model="articulo.id" hidden />
                      <v-col cols="12">
                        <v-text-field v-model="articulo.descripcion" label="Descripción" solo required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-text-field v-model="articulo.precio" label="Precio" type="number" prefix="$" solo required>
                        </v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-text-field v-model="articulo.stock" label="Stock" type="number" solo required></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="grey darken-1 white--text" @click="dialog=false">Cancelar</v-btn>
                <v-btn color="blue darken-1 white--text" @click="guardar(articulo.id)" type="submit">Guardar</v-btn>
              </v-card-actions>
              </v-form>
            </v-card>
          </v-dialog>

        </v-card>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <!-- SWEET ALERT -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.3/dist/sweetalert2.min.js"></script>
  <!-- AXIOS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
    integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
    crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>

</html>